@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #ffffff; /*nav-sidebar*/
    --primary: #4ECCA3;
    --light-primary: #9df0d4;
    --grey: #EEEEEE; /*background*/
    --dark-grey: #B2B2B2;
    --dark: #232931; /*text icons*/
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #4ECCA3;
    --light-success: #9df0d4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #000000; /*nav-sidebar*/
    --grey: #232931; /*background*/
    --dark: #EEEEEE; /*text icons*/
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--success);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.help{
    color: var(--warning);
}

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
    margin-right: auto;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
    margin-left: auto; 
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .description{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .description li{
    color: var(--dark);
}

.content main .header .left .description li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .header .left .description li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.content main .details li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    margin-bottom: 10px;
}

.content main .details li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .details li:nth-child(1) .bx{
    background: var(--primary);
    color: var(--dark);
}

.content main .details li:nth-child(2) .bx{
    background: var(--primary);
    color: var(--dark);
}

.content main .details li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .details li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .tools{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .tools table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .tools table td{
    padding: 16px 16px;
}

.content main .bottom-data .tools table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .tools table tbody td:hover{
    background: var(--primary);
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }
}

@media screen and (max-width: 576px) {    
    .content main .details {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .tools table{
        min-width: 340px;
    }
}

#showAllData {
    display: none; 
}

label[for="showAllData"] {
    display: block; 
    font-weight: bold; 
    margin-top: 10px; 
    cursor: pointer; 
}

label[for="showAllData"]:hover {
    text-decoration: underline; 
}

#showAllData:checked + label[for="showAllData"] {
    color: #007bff; 
}

#showAllData:checked + label[for="showAllData"]:after {
    content: ' - Showing All Data'; 
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0;
}

.image-preview {
    width: 400px;
    height: 200px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.metadata-results {
    font-size: 16px;
    line-height: 1.5;
    max-width: 400px;
    text-align: center;
}
  
.metadata-results h2 {
    margin-top: 0;
}
  
.metadata-results p {
    margin: 5px 0;
}

#metadataTable {
    border-collapse: collapse;
    width: 100%;
}

#metadataTable td {
    padding: 8px;
    text-align: left;
    border-radius: 30px;
}

#metadataTable tr:hover {
    background-color: var(--primary);
}
body, html {
    height: 100%;
}

.cyber-background {
    background-color: #292929; /* Güncellenmiş arka plan rengi */
}

.card {
    border: none;
}

.form-control {
    border: 2px solid #17a2b8; /* Gösterişli bir çerçeve rengi */
    background-color: transparent;
    color: #fff; /* Metin rengi */
}

.form-control:focus {
    border-color: #17a2b8; /* Odaklandığında çerçeve rengi */
    background-color: transparent;
    color: #fff; /* Metin rengi */
}
.cyber-background {
    background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.cyber-background {
    background-color: #212121; /* Cyber tarzı için genellikle koyu renkler tercih edilir */
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
}

input[type=file] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.bx--shield-quarter {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20.995 6.9a.998.998 0 0 0-.548-.795l-8-4a1 1 0 0 0-.895 0l-8 4a1.002 1.002 0 0 0-.547.795c-.011.107-.961 10.767 8.589 15.014a.987.987 0 0 0 .812 0c9.55-4.247 8.6-14.906 8.589-15.014M12 19.897V12H5.51a15.473 15.473 0 0 1-.544-4.365L12 4.118V12h6.46c-.759 2.74-2.498 5.979-6.46 7.897'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .bx--image-alt {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2M5 19V5h14l.002 14z'/%3E%3Cpath fill='black' d='m10 14l-1-1l-3 4h12l-5-7z'/%3E%3C/svg%3E");
}
/* styles.css */

body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card h1 {
    color: #333;
}

.card p {
    color: #666;
}

.breach-container {
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.breach-container h2 {
    color: #555;
    font-size: 24px;
}

.list-group {
    border: none;
}

.list-group-item {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 8px;
}
/* styles.css */

body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card h1 {
    color: #333;
}

.card p {
    color: #666;
}

.breach-container {
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.breach-container h2 {
    color: #555;
    font-size: 24px;
}

.list-group {
    border: none;
}

.list-group-item {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 8px;
}
